<div style="margin-left: 20px; margin-top: 30px; "> 
	 <img src="../assets/network.png" style="height: 48px;"><span style="font-size: 26px;"> Customers </span>
</div>

<div class="customer-view">
	<ul>
		<a class="li-bar" [routerLink]="['view']">
			<i class="fa fa-th-large icon-large"></i><span>Card View</span>
		</a>
		<a class="li-bar" [routerLink]="['listview']">
			<i class="fa fa-bars"></i><span> List View</span>
		</a>
		<a class="li-bar" [routerLink]="['add-customer']">
			<i class="fa fa-plus"></i> <span> New Client</span>
		</a>
	</ul>
</div>

<router-outlet></router-outlet>




